<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>  
 
 	<servlet>
	   <servlet-name>HelloFlipper</servlet-name>
	   <servlet-class>com.bandwidth.sdk.examples.HelloFlipperServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>HelloFlipper</servlet-name>
	   <url-pattern>/helloflipper</url-pattern>
	</servlet-mapping>
	
 	<servlet>
	   <servlet-name>ChaosCorp</servlet-name>
	   <servlet-class>com.bandwidth.sdk.examples.ChaosCorpServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>ChaosCorp</servlet-name>
	   <url-pattern>/chaoscorp</url-pattern>
	</servlet-mapping>
	


</web-app>
